#introTexts3d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#introTexts3d h1 {
    margin-bottom: 0;
}

#navigation3d {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

#selectedFilter {
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    bottom: 10px;
    transition: position 500ms;
}

.modelsOptions {
    transform: none;
    transition: transform 500ms, position 500ms;
}

.modelsOptions:hover {
    cursor: pointer;
}

.modelsOptions:not(#selectedFilter):hover {
    transform: scale(1.2);
    transition: transform 500ms;
}

.view3dContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    border: solid 1px black;
    margin-inline: auto;
    padding: 0 10px 20px 10px;
    box-sizing: border-box;
    grid-auto-rows: 1fr;
}

.renderedImage {
    max-width: 100%;
}

.view3dContainer:not(.view) {
    display: none;
}

/* Do not forget to change this part! Needs to be for <picture> instead! */
.renderedImage {
    max-width: 100%;
    justify-self: center;
    height: 100%;
    width: 100%;
}

@media (min-width: 0px) and (max-width: 768px) {
    .view3dContainer {
        grid-template-columns: 1fr;
        gap: 5px;
        padding-left: 2px;
        padding-right: 2px;
    }
}