/*

*NOTE TO FUTURE SELF*

The way this works is that

*/

:root {
    --mainHeight: 600px;
    --halfSize: calc(var(--mainHeight) / 2);
    --tempWidth: 200px;
    --tempMaxWidth: 500px;
    --tempGap: 5px;
    --mainGap: 8px;
}

#artworkIntroTexts {
    margin-bottom: 50px;
}

#artworkGallery {
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--mainGap);
    padding: 0 20px 0 20px;
    max-width: 1200px;
}

.artworkImages {
    justify-self: center;
}

img {
    width: 100%;
}

@media (min-width: 1px) and (max-width: 768px) {
    #artworkGallery {
        grid-template-columns: 1fr;
    }

    .artworkImages {
        display: grid;
        gap: 8px;
    }

    img {
        width: 80vw;
    }

}