/*

*NOTE TO FUTURE SELF*

The way this works is that

*/

:root {
    --mainGap: 8px;
}

#artworkIntroTexts {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#artworkGallery {
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--mainGap);
    padding: 0 20px 0 20px;
    max-width: 1200px;
}

.artworkImages {
    justify-self: center;
}

.leftImages, .centerImages, .rightImages {
    width: 100%;
}

.leftImages:hover, .centerImages:hover, .rightImages:hover {
    cursor: pointer;
}

@media (min-width: 1px) and (max-width: 768px) {
    #artworkGallery {
        grid-template-columns: 1fr;
    }

    .artworkImages {
        display: grid;
        gap: 8px;
    }

    img {
        width: 80vw;
    }

}