:root {
    --mainHeight: 600px;
    --halfSize: calc(var(--mainHeight) / 2) ;
}

#artworkIntroTexts {
    margin-bottom: 50px;
}

#artworkGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 20px 0 20px;
}

.artworkImages {
    height: var(--mainHeight);
    width: 200px;
    background-color: green;
    justify-self: center;
}

@media (min-width: 1px) and (max-width: 768px) {
    #artworkGallery {
        grid-template-columns: 1fr;
    }

    .artworkImages {
        width: 80vw;
        max-width: 500px;
    }
}