body {
    margin: 0;
}

hr {
    color: white;
}

#phoneMenuContainer, #phoneMenuPopup {
    display: none !important;
}

@media (max-width: 1200px) {
    #phoneMenuContainer {
        display: grid !important;
    }

    #phoneMenuPopup {
        display: flex !important;
    }

    #pcMenuContainer {
        display: none !important;
    }

    nav {
        padding: 5px;
    }
}