@keyframes entrance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    animation-name: entrance;
    animation-duration: 1500ms;
}

nav {
    animation-name: entrance;
    animation-duration: 2100ms;
}

hr {
    color: white;
}

#phoneMenuContainer, #phoneMenuPopup {
    display: none !important;
}

@media (max-width: 1200px) {
    #phoneMenuContainer {
        display: grid !important;
    }

    #phoneMenuPopup {
        display: flex !important;
    }

    #pcMenuContainer {
        display: none !important;
    }

    nav {
        padding: 5px;
    }
}