:root {
    --white: white;
}

#hero_section *:not(button) {
    color: white;
}

body {
    margin: 0;
}

#hero_section {
    height: 95vh;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 1fr 1fr;
    background: url("https://as2.ftcdn.net/v2/jpg/05/72/82/85/1000_F_572828530_ofzCYowQVnlOwkcoBJnZqT36klbJzWdn.jpg");
    background-size: cover;
    background-position: center;
}

#overlay {
    grid-row: 1 / 3;
    grid-column: 1;
    box-shadow: inset 25vw  0 300px 20px black;
}

#hero_upper_contents {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#hero_upper_contents #names {
    width: max-content;
    height: auto;
    align-self: end;
    padding-left: 40px;
    position: relative;
    top: 30px;
    box-sizing: border-box;
}

#names h1 {
    font-size: clamp(40px, 5vw, 72px);
}

#names h2 {
    font-size: clamp(28px, 3vw, 28px);
}


#names h1, #names h2 {
    margin: 0;
}

#hero_bottom_contents {
    grid-row: 2;
    grid-column: 1;
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#hero_see_more {
    grid-row: 1 / 3;
    grid-column: 1;
    justify-self: start;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 30px;
}

#hero_see_more p {
    font-size: clamp(18px, 2vw, 28px);
}

#hero_see_more button {
    padding: 15px;
    font-size: clamp(18px, 2vw, 28px);
    width: clamp(165px, 50%, 250px)
}


header {
    grid-row: 2;
    grid-column: 1 / 3;
    background: rgba(0, 0, 0, 0.6);
    height: max-content;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    font-size: clamp(22px, 3vw, 30px);
    align-self: end;
}