:root {
    --asset-size: 550px;
    --reference-size: 365px;
}

.whiteBg {
    background-color: white !important;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.assetsStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 75px;
}

.assetImg {
    width: 100%;
    max-width: var(--asset-size);
}

.referenceImg {
    width: 100%;
    max-width: var(--reference-size);
}

.projectText {
    width: 100%;
    max-width: var(--asset-size);
}

.threeD-video {
    width: 100%;
    max-width: var(--asset-size);
}



#turnables {
    display: flex;
    flex-direction: column;
}