body {
    margin: 0;
}

header {
    grid-row: 2;
    grid-column: 1 / 3;
    background: rgba(0, 0, 0, 0.6);
    height: max-content;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    font-size: clamp(22px, 3vw, 30px);
    align-self: end;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100000000;
    transition: top 200ms;
}

header > a {
    color: white;
    text-decoration: none;
}

#current_page {
    pointer-events: none;
    user-select: none;
    text-decoration: none;
    color: red;
}

#category_gallery {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#grid_container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.hidden {
    opacity: 0 !important;
}

.shown {
    opacity: 1;
    animation-name: show_image;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
    position: relative;
    top: 100px;
}

div.item_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: border 200ms, box-shadow 200ms, transform 200ms;
}

div.item_container > * {
    grid-column: 1;
    grid-row: 1;
}

.item_container > img {
    height: 100%;
    width: 100%;
}

.item_container > a {
    justify-self:end;
    height: max-content;
    width: max-content;
}

.item_container > a > img {
    height: 75px;
    width: 75px;
}


div.item_container:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow:  0px 0px 10px 3px black;
    border: solid 1px black;
    transition: border 200ms, box-shadow 200ms, transform 200ms;
}

#overlay {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 300ms;
}

#shadow_background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}


#dialog_img_pc, #dialog_img_phone {
    max-height: 85vh;
    max-width: 90vw;
    align-self: center;
    justify-self: center;
    transition: opacity 500ms;
    transition-delay: 50ms;
    opacity: 0;
    object-fit: cover;
    box-shadow: 0 0 14px 0 mediumpurple;
}

#dialog_img_phone {
    display: none;
    height: 200px;
    width: 200px;
}

#to_youtube_container {
    justify-self: center;
    align-self: start;
    width: 100%;
    display: flex;
    justify-content: center;
}



@keyframes show_image {
    from {
        position: relative;
        top: 100px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes dialog_entrance {
    from {
        backdrop-filter: blur(0);
    }

    to {
        backdrop-filter: blur(10px);
    }
}

@media (min-width:0px) and (max-width: 767px) {
    #grid_container {
        grid-template-columns: 1fr;
    }

    #dialog_img_pc {
        display: none;
    }

    #dialog_img_phone {
        display: block;
    }
}

@media (min-width:768px) and (max-width: 1023px) {
    #grid_container {
        grid-template-columns: 1fr 1fr;
    }
}