:root {
    --purple: #36124a;
    --darkerPurple: #260837;
}

body {
    margin: 0;
    background: url("./pages_media/background.jpeg");
    background-position: right;
}

.prevent_scroll {
    overflow-y: hidden;
}

header {
    grid-row: 2;
    grid-column: 1 / 3;
    background: linear-gradient(to right, var(--darkerPurple), var(--purple));
    align-self: end;
    position: sticky;
    top: 0;
    z-index: 100000000;
    transition: top 200ms;
}

header #pc_btns_container {
    display: flex;
    justify-content: center;
    gap: clamp(200px, 5vw, 300px);
    flex-grow: 1;
}

header #pc_btns_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: text-shadow 200ms;
}

header #pc_menu_logo {
    height: 50px;
    width: 50px;
    background-color: white;
    background: url("https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg");
    background-size: cover;
    background-position: center;
}

header #pc_header_btns {
    color: white;
    text-decoration: none;
    text-shadow: none;
    transition: text-shadow 200ms, color 200ms;
    display: flex;
    gap: 30px;
    font-size: clamp(16px, 3vw, 24px);
}

header #pc_btns_container a:hover {
    text-shadow: 2px 0 5px lightblue;
    color: #80d5ff;
    transition: text-shadow 200ms, color 200ms;
}

header #phone_menu {
    display: none;
}

#current_page {
    pointer-events: none;
    user-select: none;
    text-decoration: none;
    color: white;
    background-color: #764c97;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -4px 12px 5px #a380c1;
    text-shadow: 2px 0 6px lightblue;
    overflow: hidden;
    animation-name: clicked_title;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes clicked_title {
    0% {
        font-size: 0;
        width: 0;
        height: 0;
    }

    100% {
        height: auto;
        width: 125px;
    }
}

#category_gallery {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#page_title {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;
}

#grid_container {
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.hidden {
    opacity: 0 !important;
}

.shown {
    opacity: 1;
    animation-name: show_image;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    position: relative;
    top: 100px;
}

div.item_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: border 200ms, box-shadow 200ms, transform 200ms;
}

div.item_container > * {
    grid-column: 1;
    grid-row: 1;
}

.item_container > img {
    height: 100%;
    width: 100%;
    transition: box-shadow 200ms;
}

.item_container > img:hover {
    box-shadow: 0 0 20px -6px #fff;
    transition: box-shadow 200ms;
}

.item_container > a {
    justify-self: end;
    height: max-content;
    width: max-content;
}

.item_container > a > img {
    height: 75px;
    width: 75px;
}


div.item_container:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 0px 30px 10px #7119ae;
    border: solid 1px #7119ae;
    transition: border 200ms, box-shadow 200ms, transform 200ms;
}

#overlay {
    min-height: 100vh;
    min-height: 100svh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 300ms;
    overflow-y: scroll;
}

#rotate_logo {
    justify-self: center;
    height: 50px;
    width: 50px;
}

#shadow_background {
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}


#dialog_img_pc, #dialog_img_phone {
    max-height: 85vh;
    max-width: 90vw;
    align-self: center;
    justify-self: center;
    transition: opacity 500ms;
    transition-delay: 50ms;
    opacity: 0;
    object-fit: cover;
    box-shadow: 0 0 14px 0 mediumpurple;
}

#dialog_img_phone {
    display: none;
}

#to_youtube_container {
    color: white;
    font-weight: bold;
    font-size: clamp(18px, 2vw, 23px);
}

#to_youtube_video {
    padding: 15px;
    font-size: clamp(18px, 2vw, 28px);
    width: clamp(165px, 50%, 250px)
}

#mobile_overlay {
    display: none;
}


@keyframes show_image {
    from {
        position: relative;
        top: 100px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes dialog_entrance {
    from {
        backdrop-filter: blur(0);
    }

    to {
        backdrop-filter: blur(10px);
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    #grid_container {
        grid-template-columns: 1fr;
        margin-top: 50px;
    }

    #page_title {
        display: block;
    }

    #dialog_img_pc {
        display: none;
    }

    #dialog_img_phone {
        display: block;
    }

    header #pc_btns_container {
        display: none;
    }

    header #phone_menu {
        height: max-content;
        display: grid;
        justify-content: end;
        padding-right: 12px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    header #phone_hamburger_container {
        justify-self: end;
        align-self: center;
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 6px;
        width: max-content;
        padding: 0 10px 0 10px;
    }

    header #phone_menu_logo {
        justify-self: center;
        align-self: center;
        background-color: red;
        height: 50px;
        width: 50px;
        grid-row: 1;
        grid-column: 1;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header .line {
        width: 35px;
        height: 4px;
        background-color: white;
    }

    #mobile_overlay {
        top: 0;
        left: -100vw;
        display: grid;
        grid-template-rows: 0.2fr 0.8fr;
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 99999999999999999999;
        transition: left 300ms;
    }

    .show_phone_overlay {
        animation-name: phone_menu_entrance;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }

    .show_phone_btns {
        animation-name: menu_btns_blur;
        animation-duration: 600ms;
        animation-delay: 300ms;
        animation-fill-mode: forwards;
    }

    #phone_close_btn {
        font-size: 48px;
        color: white;
        justify-self: center;
        grid-row: 1;
        grid-column: 1;
        align-self: end;
        width: 200px;
        display: flex;
        justify-content: end;
    }

    #phone_btns {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-self: center;
        justify-self: center;
        grid-row: 1 / 3;
        grid-column: 1;
    }

    #phone_btns > a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 28px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #grid_container {
        grid-template-columns: 1fr 1fr;
    }


    #page_title {
        display: block;
        position: relative;
        top: 50px;
    }

    #dialog_img_pc {
        display: none;
    }

    #dialog_img_phone {
        display: block;
    }

    header #pc_btns_container {
        display: none;
    }

    header #phone_menu {
        display: grid;
        justify-content: end;
        padding-right: 12px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    header #phone_hamburger_container {
        justify-self: end;
        align-self: center;
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 6px;
        width: max-content;
        padding: 0 10px 0 10px;
    }

    header #phone_menu_logo {
        justify-self: center;
        align-self: center;
        background-color: red;
        height: 50px;
        width: 50px;
        grid-row: 1;
        grid-column: 1;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header .line {
        width: 35px;
        height: 4px;
        background-color: white;
    }

    #mobile_overlay {
        top: 0;
        left: -100vw;
        display: grid;
        grid-template-rows: 0.2fr 0.8fr;
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 99999999999999999999;
        transition: left 300ms;
    }

    .show_phone_overlay {
        animation-name: phone_menu_entrance;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }

    #phone_close_btn {
        font-size: 48px;
        color: white;
        justify-self: center;
        grid-row: 1;
        grid-column: 1;
        align-self: end;
        font-family: Arial;
        width: 200px;
        display: flex;
        justify-content: end;
    }

    #phone_btns {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-self: center;
        justify-self: center;
        grid-row: 1 / 3;
        grid-column: 1;
    }

    #phone_btns > a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 28px;
        animation-name: menu_btns_blur;
        animation-duration: 300ms;
        animation-delay: 500ms;
        animation-fill-mode: forwards;
    }
}

@keyframes phone_menu_entrance {
    0% {
        width: 0;
        opacity: 0.3;
        backdrop-filter: blur(60px);
        background: linear-gradient(white, black);
    }

    50% {
        opacity: 0.6;
        filter: blur(30px);
        background: linear-gradient(gray, black);
    }

    80% {
        filter: blur(10px);
    }

    100% {
        left: 0;
        width: 100vw;
        opacity: 1;
        filter: blur(0);
        backdrop-filter: blur(0);
        background: rgba(0, 0, 0, 0.8);
    }
}

@keyframes menu_btns_blur {
    0% {
        filter: blur(50px)
    }

    100% {
        filter: blur(0px);
    }
}